<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Editar Producto</h1>
    <div class="alert alert-danger" role="alert" th:if="${error}">
        <p th:text="${error}"></p>
    </div>
    <form method="post" th:action="@{/productos/edit-producto/{id}(id=${producto.id})}" th:object="${producto}">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <input th:field="*{id}" type="hidden"/>

        <div class="mb-3">
            <label class="form-label" for="nombreGenerico">Nombre Generico:</label>
            <input class="form-control" id="nombreGenerico" required th:field="*{nombreGenerico}" type="text">
        </div>

        <div class="mb-3">
            <label class="form-label" for="codigoInterno">Codigo Interno:</label>
            <input class="form-control" id="codigoInterno" required th:field="*{codigoInterno}" type="text">
        </div>

        <div class="mb-3">
            <label class="form-label" for="tipoProducto">Tipo Producto:</label>
            <select class="form-control" id="tipoProducto" required th:field="*{tipoProducto}">
                <option th:each="tipo : ${T(com.mb.conitrack.enums.TipoProductoEnum).values()}"
                        th:text="${tipo.valor}" th:value="${tipo}">Tipo
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="unidadMedida">Unidad Medida:</label>
            <select class="form-control" id="unidadMedida" required th:field="*{unidadMedida}">
                <option th:each="um : ${T(com.mb.conitrack.enums.UnidadMedidaEnum).values()}"
                        th:text="${um.nombre}" th:value="${um}">Unidad
                </option>
            </select>
        </div>

        <div class="mb-2">
            <label class="form-label" for="productoDestino">Producto Destino:</label>
            <input class="form-control" id="productoDestino" required th:field="*{productoDestino}" type="text">
            <div class="error" th:errors="*{productoDestino}" th:if="${#fields.hasErrors('productoDestino')}"></div>
            <div class="error" th:if="${error != null}" th:text="${error}"></div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="observaciones">Observaciones:</label>
            <textarea class="form-control" id="observaciones" th:field="*{observaciones}"></textarea>
        </div>

        <a class="btn btn-secondary ms-2" th:href="@{/productos/list-productos}">Volver al listado</a>
        <button class="btn btn-primary" type="submit">Guardar cambios</button>
    </form>
</div>
</body>
</html>
