<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Productos Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Productos Dashboard</h1>
<p>Welcome to Productos Dashboard, <span th:text="${#authentication.name}">[username]</span>!</p>

<!-- Button to navigate to the User List -->
<form method="get" th:action="@{/productos/list-productos}">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
    <button type="submit">Ver productos</button>
</form>

<!-- Button to navigate to the Add User form -->
<form method="get" th:action="@{/productos/add-producto}">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
    <button type="submit">Agregar Producto</button>
</form>

<!-- Logout Button -->
<form method="post" th:action="@{/logout}">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
    <button type="submit">Logout</button>
</form>
<a th:href="@{/}">Volver al inicio</a>

</body>
</html>
