<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Productos Dashboard</title>
</head>
<body>
<h1>Productos Dashboard</h1>
<p>Welcome to Productos Dashboard, <span th:text="${#authentication.name}">[username]</span>!</p>

<!-- Button to navigate to the User List -->
<form th:action="@{/productos/list-productos}" method="get">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit">Ver productos</button>
</form>

<!-- Button to navigate to the Add User form -->
<form th:action="@{/productos/add-producto}" method="get">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit">Agregar Producto</button>
</form>

<!-- Logout Button -->
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit">Logout</button>
</form>

<a th:href="@{/}">Volver al inicio</a>


</body>
</html>
