spring:
  application:
    name: conitrack
  thymeleaf:
    cache: true
  datasource:
    url: jdbc:postgresql://${PROD_DB_HOST}:${PROD_DB_PORT}/${PROD_DB_NAME}
    username: ${PROD_DB_USERNAME}
    password: ${PROD_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${PORT:8080}
  error:
    include-message: never
    include-binding-errors: never

logging:
  level:
    org.springframework.security: INFO
    org.thymeleaf.extras.springsecurity6: INFO
    org.springframework.web: INFO
