<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Fechas de Lotes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Listado de Fechas de Lotes</h1>
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>Producto</th>
            <th>Código Interno</th>
            <th>Cantidad Actual</th>
            <th>Unidad Medida</th>
            <th>Días hasta Reanálisis Vigente</th>
            <th>Días hasta Vencimiento Vigente</th>
            <th>Última Fecha Reanálisis Vigente</th>
            <th>Última Fecha Vencimiento Vigente</th>
            <th>Fecha Reanálisis Proveedor</th>
            <th>Fecha Vencimiento Proveedor</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="loteDTO : ${loteDTOs}">
            <td th:text="${loteDTO.nombreProducto}">Producto</td>
            <td th:text="${loteDTO.codigoLote}">Código Interno</td>
            <td th:text="${loteDTO.cantidadActual}">Cantidad Actual</td>
            <td th:text="${loteDTO.unidadMedida}">Unidad Medida</td>
            <!-- Días hasta Reanálisis Vigente -->
            <td>
                <span th:text="${loteDTO.diasHastaFechaReanalisisVigente}"
                      th:classappend="${loteDTO.diasHastaFechaReanalisisVigente != null and loteDTO.diasHastaFechaReanalisisVigente <= 30} ? 'text-danger'">
                </span>
            </td>

            <!-- Días hasta Vencimiento Vigente -->
            <td>
                <span th:text="${loteDTO.diasHastaFechaVencimientoVigente}"
                      th:classappend="${loteDTO.diasHastaFechaVencimientoVigente != null and loteDTO.diasHastaFechaVencimientoVigente <= 30} ? 'text-danger'">
                </span>
            </td>
            <td th:text="${loteDTO.fechaReanalisisVigente}">Última Fecha Reanálisis Vigente</td>
            <td th:text="${loteDTO.fechaVencimientoVigente}">Última Fecha Vencimiento Vigente</td>
            <td th:text="${loteDTO.fechaReanalisisProveedor}">Fecha Reanálisis Proveedor</td>
            <td th:text="${loteDTO.fechaVencimientoProveedor}">Fecha Vencimiento Proveedor</td>
            <td>
                <a class="btn btn-primary btn-sm" th:href="@{'/analisis/codigoLote/' + ${loteDTO.codigoLote}}">Ver Analisis</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="mt-3">
        <a class="btn btn-secondary" th:href="@{/lotes/cancelar}">Volver a la página principal</a>
    </div>
</div>
</body>
</html>
