<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New User</title>
</head>
<body>
<h1>Add New User</h1>
<form th:action="@{/users/add-user}" th:object="${user}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username" required minlength="3" maxlength="50" th:field="*{username}">
    <br>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required minlength="3" th:field="*{password}">
    <br>

    <label for="role">Rol:</label>
    <select id="role" th:field="*{role.id}" required>
        <option value="" disabled selected>Seleccione un rol</option>
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
    </select>
    <br>
    <br>

    <button type="submit">Guardar Usuario</button>
</form>
<br/>
<a th:href="@{/users/list-users}">Back to User List</a>
</body>
</html>
