@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../img/FONDO.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    position: relative;
    max-width: 500px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

h1, h2 {
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 3rem;
}

.inputbox {
    position: relative;
    margin: 20px 0;
    max-width: 550px;
    border-bottom: 2px solid #fff;
    transition: border-color 0.5s ease-in-out;
}

.inputbox input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox input:focus {
    border-color: rgba(255, 255, 255, 0.8);
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 12px;
    transition: color 0.5s ease-in-out;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
    top: -7px;
    font-size: 0.8rem;
    color: #fff;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.4s ease-in-out;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.login {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.login p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.5s ease-in-out;
}

.login p a:hover {
    text-decoration: underline;
    color: #aBaBaB;
}
