<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Conitrack</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .disabled {
            pointer-events: none;
            opacity: 0.6;
            cursor: default;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Home - Conitrack</h2>
    <p>Seleccione la sección</p>
    <ul>
        <hr class="my-4">
        <h4 class="mb-3 text-primary">Casos de uso</h4>
        <br>
        <h5 class="mb-3 text-primary">Compras</h5>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/compras/alta/ingreso-compra}">
                CU1 - Ingreso de Lote por Compra [Analista de planta]
            </a>
        </li>

        <!-- NUEVO: CU4 Devolución de Compra -->
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/compras/baja/devolucion-compra}">
                CU4 - Devolución de Compra [Analista de planta]
            </a>
        </li>

        <br>
        <h5 class="mb-3 text-primary">Calidad</h5>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/calidad/dictamen/cuarentena}">
                CU2 - Dictamen: Cuarentena [Analista control de calidad]
            </a>
        </li>

        <!-- CU3 Retiro por Muestreo -->
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/calidad/baja/muestreo-trazable}">
                CU3 - Retiro por Muestreo Trazable [Analista control de calidad]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/calidad/baja/muestreo-multi-bulto}">
                CU3 - Retiro por Muestreo Multi Bulto [Analista control de calidad]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/calidad/analisis/resultado-analisis}">
                CU5/CU6. Resultado QA: Aprobado/Rechazado [Gerente control de calidad]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/calidad/reanalisis/inicio-reanalisis}">
                CU8. Reanalisis de Producto Aprobado [Gerente control de calidad]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/lotes/list-fechas-lotes}">
                CU9/CU10 [AUTOMATICO] -> Consulta Fecha Reanalisis / Vencimiento [A DEFINIR]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/calidad/anulacion/anulacion-analisis}">
                CU11. Anulacion analisis [Gerente control de calidad]
            </a>
        </li>

        <br>
        <h5 class="mb-3 text-primary">Produccion</h5>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/produccion/baja/consumo-produccion}">
                CU7. Consumo de Producción [Supervisor de planta]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/produccion/alta/ingreso-produccion}">
                CU20. Ingreso de stock por Producción Interna [Supervisor de planta]
            </a>
        </li>
        <br>
        <h5 class="mb-3 text-primary">Ventas</h5>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/ventas/trazado/inicio-trazado}">
                CU27. Trazado Unidad de venta [Gerente garantía de calidad/DT]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/ventas/liberacion/inicio-liberacion}">
                CU21. Liberación Unidad de venta [Gerente garantía de calidad/DT]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/ventas/baja/venta-producto}">
                CU22. Venta de Producto Propio [Analista de planta]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/ventas/alta/devolucion-venta}">
                CU23. Devolución de cliente [Gerente garantía de calidad]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/ventas/recall/retiro-mercado}">
                CU24. Retiro de mercado [Gerente garantía de calidad]
            </a>
        </li>
        <br>
        <h5 class="mb-3 text-primary">Contingencias</h5>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/contingencias/ajuste-stock}">
                CU25. Ajuste de Inventario [Supervisor de planta]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/contingencias/reverso-movimiento}">
                CU26. Reverso de Ultimo Movimiento [???]
            </a>
        </li>
        <hr class="my-4">
        <h4 class="mb-3 text-primary">Consultas</h4>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/lotes/list-lotes}">
                Lista de Lotes
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/bultos/list-bultos}">
                Lista de Bultos
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/movimientos/list-movimientos}">
                Lista de Movimientos
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/analisis/list-analisis}">
                Lista de Analisis
            </a>
        </li>

        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/trazas/list-trazas}">
                Lista de Trazas
            </a>
        </li>

        <hr class="my-4">
        <h4 class="mb-3 text-primary">ABM Maestro</h4>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/proveedores/}">
                CU30. ABM Proveedores [Analista de planta]
            </a>
        </li>
        <li>
            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"
               th:href="@{/productos/}">
                CU31. ABM Productos [Gerente control de calidad]
            </a>
        </li>

        <hr class="my-4">
        <h4 class="mb-3 text-primary">Admin</h4>
        <li>
            <a class="disabled" href="javascript:void(0);">
                CU32. Configuración del sistema [Admin]
            </a>
        </li>        <li>
            <a class="disabled" href="javascript:void(0);">
                CU33. ABM Usuarios [Admin]
            </a>
        </li>
<!--        <li>-->
<!--            <a th:classappend="${#authorization.expression('!hasRole(''ADMIN'')')} ? 'disabled' : ''"-->
<!--               th:href="@{/users/}">-->
<!--                CU33. ABM Usuarios [Admin]-->
<!--            </a>-->
<!--        </li>-->
    </ul>
</div>

<footer class="fixed-footer">
    <div class="container text-center">
        <form method="post" th:action="@{/logout}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <button class="btn" type="submit">Logout</button>
        </form>
    </div>
</footer>
</body>
</html>
